[user]
	name = Kumar Abhinav
	email = abhinav9011032@gmail.com
[core]
	editor = hx
	compression = 9
	whitespace = trailing-space
[branch]
    sort = -committerdate
[pull]
	rebase = true
[maintenance]
    auto = true
    strategy = incremental
